<!doctype html>

<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]> <html class="no-js" lang="en"> 		   <![endif]-->

<head>
	<meta charset="utf-8">

  	<!-- You can use .htaccess and remove these lines to avoid edge case issues. -->
  	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  	<title>{{ settings:site_name }} &raquo; {{ template:title }}</title>

  	<meta name="author" content="Adam Conder">
	<meta name="description" content="">
	<meta name="keywords" content="">

  	<!-- Mobile viewport optimized -->
  	<meta name="viewport" content="width=device-width,initial-scale=1">
	
	<!-- Set a base location for assets -->
	<base href="{{ url:base }}"/>
	<!-- End base -->

  	<!-- CSS. No need to specify the media attribute unless specifically targeting a media type, leaving blank implies media=all -->
  	{{ theme:css file="plugins.css" }}
	{{ theme:css file="normalize.css" }}
	{{ theme:css file="style.css" }}

	<!-- Syntax highlighter -->
	<!-- <link rel="stylesheet" href="{{ url:base }}addons/default/themes/adamconder/js/highlight.js/src/styles/solarized_light.css" type="text/css" /> -->

	<!-- Load up some favicons -->
  	{{ theme:favicon }}

  	<!-- All JavaScript at the bottom, except for Modernizr. -->
  	{{ theme:js file="libs/modernizr.js" }}
  	{{ theme:js file="libs/jquery.js" }}
  	{{# theme:js file="highlight.js/src/highlight.js" #}}
  	{{ theme:js file="script.js" }}

	{{ template:metadata }}
	
	<!-- Google Analytics -->
	{{ integration:analytics }}

	<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9Nm7j9ELW7gG99fKwQvXR3cRByk6-KJ8&sensor=false">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(54.983960, -1.614653),
          zoom: 12
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>

</head>

<body class="{{ url:segments segment="1" default="home" }}">
	
		<header>
			<section id="logo">
				<a href="{{ url:base }}" title="adamconder">
					<h1>{{ settings:site_name }}</h1>
				</a>
			</section>

			
			<div id="nav-wrapper">
				<div id="nav-cell">
					<nav id="primary">
						<ul>
							{{ navigation:links group="header" }}
						</ul>
					</nav>
				</div>
			</div>
			<div class="clearFix"></div>
		</header>

	<!-- container -->
	<div class="container">
