/* -----
    Base Adjustments & HTML5 display definitions
----- */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,700,300italic);

audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html, body { height: 100%; }

::-moz-selection { background: #c0757b; color: #ffffff; text-shadow: none; }
::selection { color: #ffffff; text-shadow: none; background-color: #c0757b; }

/*
Stylesheet for adamconder.com
Author: Adam Conder
*/

/*
Fonts and titles
*/

h1, h2, h3, h4, h5, h6 { font-weight: 300; }

h1 { font-size: 34px; }
h2 { font-size: 28px; }
h3 { font-size: 24px; }
h4 { font-size: 22px; color: #c0757b; }
h5 { font-size: 20px; color: #c0757b; margin: 0;}

/*
Links and states
*/

a { color: #c0757b; text-decoration: none; }

a:hover, a:visited, a:active {
	color: #d09498;
	text-decoration: none;
}

/*
	Main content
*/

body {
	background: #f2f2f2;
	text-align: left;
	font-size: 16px;
	color: #5b5b5b;
	padding: 0;
	margin: 0;

	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-rendering: optimizeLegibility; 
 	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
}


/*******
	header
	********/

header {
	width:100%;
	height: auto;
	background-color: #fff;
	border-bottom: 1px solid #e5e2e2;
}

header > section#logo {
	width:30%;
	height:auto;
	display: block;
	float:left;
	padding: 0;
}

header > section#logo a {
    background: url(../img/logo.png) center center no-repeat;
    background-size: 70%;
    display: block;
    height: 100px;
    text-indent: -999999em;
    width: 100px;
    text-align: center;
    margin:0 auto;

	-webkit-animation: fade-in 1000ms ease-out;
	animation: fade-in 1000ms ease-out;
	-webkit-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
}

header >section#logo a:hover
{
	background-size: 80%;
	-webkit-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
}

/*
	Freelance availability
*/

span.freelance
{
	display: block;
	position: absolute;
	top: 5%;
	right: 5%;
	border: 1px solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 10px;
	font-size: 12px;
	text-align: center;
}

@media only screen and (max-width : 568px) {
	/*iphone in landscape or portrait*/
	span.freelance
	{
		position: relative;	
		top: 0;
		left: 0;
		width: 60%;
		margin: 0 auto;
	}
}

span.available 
{
	border-color: #a2c224;
	color: #a2c224;
}

span.unavailable
{
	border-color: #d09498;
	color: #d09498;
}

/*

	Container

*/

@media only screen and (min-width : 1200px) {
	/*iphone in landscape or portrait*/
	div.container
	{
		width: 80%;
		margin: 0 auto;
	}

	body.contact > div.container
	{
		width: 100%;
	}
}


/* -----
    ClearFix
----- */

.clearFix
{
	clear: both;
	height: 0;
	visibility: hidden;
	display: block;
}


/* -----
    Navigation definitions
----- */

nav#primary
{
	width: 70%;
	height: auto;
	display: block;
	text-align: right;
	float: right;
	margin: 0;
	padding: 0;
}

nav#primary ul
{
	list-style: none;
	font-size: 24px;
	text-align: center;
	text-transform: lowercase;
	display: inline-block;
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

nav#primary ul li
{
	display: inline-block;
	text-align: center;
	margin: 0 2% 0 2%;
	line-height: 150px;
}

nav#primary ul li a
{
	text-align: center;
	-webkit-transition: all 300ms ease-out;
	transition: all 300ms ease-out;

	padding: 5px 10px;
}

nav#primary ul li a:hover
{
	border: 1px solid #c0757b;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 5px 15px;

	-webkit-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
}

nav#primary ul li:last-child
{
	margin: 0;
	padding: 0;
}

@media only screen and (max-width : 568px) {
	/*iphone in landscape or portrait*/

	header > section#logo
	{
		width: 100%;
	}

	nav#primary ul li
	{
		display: block;
		line-height: 40px;
		margin: 0;
		width: 100%;
	}

	nav#primary ul
	{
		width:100%;
		padding: 0;
		margin: 0 0 20px 0;
	}

	nav#primary
	{
		width: 100%;
		float: none;
		clear: both;
	}
}

/* -----
    Content headers
----- */

section#portfolio-blurb
{
	border-bottom: 1px solid #e5e2e2;
	height: auto;
	display: block;
}

section#portfolio-blurb h3
{
	text-align: center;
	line-height: 300%;
	font-weight: 300;
	font-style: italic;
}

/* -----
    Content definitions
----- */

section#content
{
	width: 80%;
	margin: 0 auto 20% auto;
	display: block;

	-webkit-animation: fade-in 600ms ease-out;
	animation: fade-in 600ms ease-out;
}


/* -----
    Project definitions
----- */

section#projects-container
{
	display: block;

}

section#projects-container > h4
{
	text-align: center;
	padding-top: 20px;
}

section#projects-container div.project
{
	border-bottom: 1px solid #e5e2e2;
	border-left: 2px solid #d09498;
	height: auto;
	min-height: 350px;
	display: block;
	clear: both;
	position: relative;
	margin-bottom: 50px;

	background: #fff;
	border-radius: 5px;
	padding: 0 20px 0 20px;
}

/* -----
    Individual Projects
----- */

div.project > div.project-information
{
	width: 50%;
	float: left;
	margin-right: 10%;
}

/* Project title */

div.project > div.project-information > div.project-title
{
	border-bottom: 1px solid #e5e2e2;
	margin-bottom: 20px;
	margin-top: -20px;
}

div.project div.project-title > h4 
{
	font-size: 30px;
}

/* Project slogan */
div.project div.project-title > p.project-slogan
{
	line-height: 14px;
	margin-top: -32px;
	text-transform: lowercase;
}

/* Project description */

/* Project Responsibility */

/* Project Tags */

div.project > div.project-information > div.project-tags > span
{
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 5px 10px;
	color: #c0757b;
	background-color: transparent;
	text-transform: lowercase;
	border: 1px solid #c0757b;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

div.project > div.project-information > div.project-tags > span:hover
{
	background-color: #d09498;
	color: #ffffff;

	-webkit-transition: background-color 0.5s ease. color 0.5s ease;
	transition: background-color 0.5s ease, color 0.5s ease;
}

div.project > div.project-information > div.project-tags > span:last-child
{
	margin-right: 0;
}

/* Project image */
div.project > div.project-image-container
{
	width: 40%;
	height: auto;
	float: left;
}

div.project > div.project-image-container > div.project-image 
{
	width: 100%;
	height: 100%;
	position: relative;
	min-height: 400px;
	overflow: hidden;
	margin: 20px auto;
}

div.project > div.project-image-container > div.project-image img
{
	position: absolute;
	top: 0;
	left: 50%;
	width: auto;
	height: 100%;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	margin: 0 0 0 -30%;

	-webkit-transition: opacity 0.5s ease-in-out;
  	-moz-transition: opacity 0.5s ease-in-out;
  	-o-transition: opacity 0.5s ease-in-out;
 	 transition: opacity 0.5s ease-in-out;
}

div.project > div.project-image-container > div.project-image img.top:hover
{
	opacity: 0;
	filter:alpha(opacity=0); /* For IE8 and earlier */
}

/*
	Project image media queries
*/

@media only screen and (max-width : 800px) {
	/*iphone in landscape or portrait*/

	div.project > div.project-image-container
	{
		float: none;
		width: 100%;
		height: 313px;
		margin: 10% 0 0 0;
	}

	div.project > div.project-image-container > div.project-image
	{
		background-position: center bottom;
		position: relative;
	}

	div.project > div.project-information
	{
		float: none;
		width: 100%;
		margin: 10px 0 0 0;
	}
}


/* -----

    Blog Heading

----- */

/*
	Media queries for blog blurbs
	*/

section#blog-blurb
{
	border-bottom: 1px solid #e5e2e2;
	height: auto;
	display: block;
}

section#blog-blurb h3
{
	text-align: center;
	line-height: 300%;
	font-weight: 300;
	font-style: italic;
}


@media only screen and (max-width : 568px) {
	/*iphone in landscape or portrait*/
	section#portfolio-blurb h3, section#blog-blurb h3
	{
		line-height: 50px;
	}
}

/* -----

    Blog

----- */


body.blog > div.container > section#content > h4
{
	text-align: center;
	padding-top: 20px;
}

article.post div.post-information > div.post-title > h4
{
	font-size: 30px;
}

article.post
{
	border-bottom: 1px solid #e5e2e2;
	/*border-top: 1px solid #e5e2e2;*/
	height: auto;
	display: block;
	clear: both;
	position: relative;
}

article.post:last-child
{
	margin-bottom: 20px;
}

article.post div.post-information
{
	border-bottom: 1px solid #e5e2e2;
	margin-bottom: 20px;
}

article.post div.post-information > div.post-title
{
	float: left;
	width: auto;
	margin: -20px 10% 0 1%;
}

article.post div.post-information > div.post-date
{
	float: right;
	width: auto;
	text-align: right;
	margin: 10px 10px 10px 0;
}

@media only screen and (max-width : 568px) {
	/*iphone in landscape or portrait*/
	article.post div.post-information > div.post-title
	{
		float: left;
		width: 50%;
		margin: -5% 0 0 1%;
	}

	article.post div.post-information > div.post-date
	{
		float: left;
		width: 48%;
		margin: 0 0 1% 1%;
	}
}

article.post div.post-information > div.post-date p
{
	line-height: 6px;
}

article.post div.post-information > div.post-title > p.post-slogan
{
	margin-top: -32px;
	text-transform: lowercase;
}

article.post div.post-information > div.post-date span.post-keyword a
{
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 5px 10px;
	color: #c0757b;
	background-color: transparent;
	border: 1px solid #c0757b;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

article.post div.post-information > div.post-date span.post-keyword a:hover
{
	background-color: #d09498;
	color: #ffffff;
	-webkit-transition: background-color 0.5s ease. color 0.5s ease;
	transition: background-color 0.5s ease, color 0.5s ease;
}

article.post div.post-information > div.post-date span.post-keyword:last-child
{
	margin-right: 0;
}

article.post > div.post-featured-image
{
	width:100%;
	height: auto;
	display:block;
	clear: both;
}

article.post > div.post-featured-image > img
{
	width: 100%;
	height: auto;
	display: block;
	clear: both;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	-webkit-animation: fade-in 600ms ease-out;
	animation: fade-in 600ms ease-out;
}

article.post > div.post_intro > img, article.post > div.post_body > img
{
	float: left;
	margin: 0 25px 20px 0;
	background: #ffffff;
	padding: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/*
	Media queries for post images
	*/

@media only screen and (max-width : 568px) {
	/*iphone in landscape or portrait*/
	article.post > div.post_intro > img, article.post > div.post_body > img
	{
		width: 90%;
		float: none;
		margin: 0 0 20px 0;
	}
}

article.post > div.post_intro, article.post > div.post_body
{
	margin: 25px 0 25px 0;
}

article.post > div.post_body p
{
	margin: 0 0 10px 0 !important;
}

article.post > div.post_body img
{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

article.post > div.post_body > ul li
{
	margin: 0 !important;
	font-family: 'Roboto', sans-serif !important;
}

article.post > div.post-links a
{
	color: #c0757b;
	display: inline-block;
	margin-bottom: 20px;
	padding: 5px 10px;
	background-color: transparent;
	text-transform: lowercase;
	border: 1px solid #c0757b;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

article.post > div.post-links a:hover
{
	background-color: #d09498;
	color: #ffffff;

	-webkit-transition: background-color 0.5s ease. color 0.5s ease;
	transition: background-color 0.5s ease, color 0.5s ease;
}

@media only screen and (max-width : 568px) {
	/*iphone in landscape or portrait*/
	article.post > div.post-links a
	{
		text-align: center;
		display: block;
	}

	article.post > div.post_body img
	{
		width: 100% !important;
		height: auto !important;
	}

	article.post > div.post_body iframe
	{
		width: 100% !important;
		height: auto !important;
	}

}

blockquote
{
	font-size: 30px;
	text-align: center;
	font-weight: 300;
	font-style: italic;
}

/* -----

    Blog Detail

----- */

/*div#existing-comments
{
	width: 40%;
}*/

div#existing-comments > h4
{
	border-bottom: 1px solid #e5e2e2;
	margin: 0;
	padding: 20px 0 20px 0;
}


/* -----

    Contact and Forms

----- */

body.contact section#content
{
	width: 100%;
	background: url(../img/contact/contact-map.png) no-repeat top center;
	background-size: 200%;
	-webkit-animation: fade-in 1000ms ease-out;
	animation: fade-in 1000ms ease-out;
	border-bottom: 1px solid #e5e2e2;
}

body.contact section#content > article.page 
{
	width: 80%;
	margin:0 auto;
	padding: 10px 0 10px 0;
}

body.contact form 
{
	float: left;
	width: 60%;
}

body.contact div.contact-social
{
	width: 40%;
	float: left;
}

body.contact div.contact-social ul { list-style: none; }

body.contact div.contact-social ul li 
{
	width: 100px;
	height: 100px;
	float: left;
	margin: 0 10px 10px 0;
	background-color: #ffffff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	text-indent: -9999px;
}

body.contact div.contact-social ul li:hover 
{
	-webkit-animation: fade-in 1000ms ease-out;
	animation: fade-in 1000ms ease-out;
	-webkit-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
}
body.contact div.contact-social ul li a
{
	display: block;
	width: 100%;
	height: 100%;
}
body.contact div.contact-social ul li a:hover 
{
	-webkit-animation: fade-in 1000ms ease-out;
	animation: fade-in 1000ms ease-out;
	-webkit-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
}

body.contact div.contact-social ul li.twitter {background: rgb(22, 169, 235) url(../img/contact/twitter.png) no-repeat center center; background-size: 50%; }
body.contact div.contact-social ul li.linkedin { background: rgb(31, 127, 185) url(../img/contact/linkedin.jpg) no-repeat center center; background-size: 100%; }
body.contact div.contact-social ul li.github { background: rgb(255, 255, 255) url(../img/contact/github.png) no-repeat center center; background-size: 80%; }


form label, form textarea, form select
{
	display: block;
	clear: both;
	resize: none;
}

form label
{
	font-size: 20px;
	color: #c0757b;
}

form input 
{
	height: 30px;
}

form input:focus, form textarea:focus
{
	background-color: #ffffff;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

form input, form textarea 
{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

form input[type="file"]
{
	height: auto;
}

form input, form input[type="file"], form select, form textarea
{
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 10px 10px;
	background-color: #fff;
	text-transform: lowercase;
	border: 1px solid #e5e2e2;
	outline: none;
	width: auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: auto;
}

input[type="submit"]
{
	background-color: #d09498;
	border: 1px solid #fff;
	color: #fff;
	clear: both;
}

input[type="submit"]:hover
{
	background-color: #d09498;
	color: #ffffff;

	-webkit-transition: background-color 0.5s ease. color 0.5s ease;
	transition: background-color 0.5s ease, color 0.5s ease;
}

form select 
{
	background-image: url(../img/downarrow.png);
	background-color: #d09498;
	background-position: right 15px center;
	background-repeat: no-repeat;
	background-size: 10px;
	-webkit-appearance: none;
	width: 160px;
	color: #fff;
}

form.contact-form div
{
	float: left;
}

form span.contact-button
{
	clear: both;
	display: block;
}

@media only screen and (max-width: 568px ) {

	body.contact form div.form_submit input, body.contact form span.contact-button input, form input[type="file"]
	{
		width:	360px;
		padding: 10px 0 10px 0;
	}

	body.contact div.contact-social, body.contact div.contact-social ul
	{
		clear: both;
		float: none;
		width: 100%;
		margin:0;
		padding:0;
	}

	body.contact form
	{
		width: 100%;
	}

	body.contact div.contact-social ul li
	{
		width: 100px;
		height: 100px;
	}
}

/* -----

    Comments

----- */

div.comment
{
	padding:20px 20px 0 20px;
	border-bottom: 1px solid #e5e2e2;
	display: block;
	width: auto;
}

div.comment > div.image > img
{
	float: left;
	margin: 0 25px 20px 0;
	background: #ffffff;
	padding: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

div.comment > div.details
{
	float: left;
}

div.comment > div.details > div.name > a, div.comment > div.details p
{
	line-height: 10px;
}

div.comment > div.details > div.date p
{
	font-style: italic;
}

div.comment > div.details > div.content p
{
	line-height: 18px;
}
