{{ theme:partial name="header" }}
	
	{{# if page:freelance_availability }}
		{{ if { page:freelance_availability } == yes }}
			<a href="./contact"><span class="freelance available">Accepting Projects</span></a>
		{{ else }}
			<a href="./contact"><span class="freelance unavailable">Unavailable for Projects</span></a>
		{{ endif }}
	{{ endif #}}

	<!-- slogan -->
	{{ if { url:segments segment="1" } == '' AND theme:options:slogan == 'yes' }}
		{{ theme:options:slogan }}
	{{ endif }}

	<!-- content -->
	<section id="content">

		{{ if page:subheading }}
			<section id="portfolio-blurb-container">
				<section id="portfolio-blurb">
				</section>
				<section id="portfolio-blurb-content">
					<h3>{{ page:subheading }}</h3>
				</section>
			</section>
		{{ endif }}

		<section id="projects-container">
		{{ if page:projects }}
			{{ page:projects }}
		{{ else }}
			<h4>Sorry, there are currently no projects.</h4>
		{{ endif }}
		</section>

	</section>
	<!-- /content -->

{{ theme:partial name="footer" }}
